.button {
	display: flex;
	justify-self: start;
    padding-left: 1rem;
}
.button span {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    color: whitesmoke;
    background-color: transparent;
}

.button::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    border: 1px solid transparent;
}

.card.item:hover .button::before {
    animation: button-border-animation-before 0.5s linear forwards;
    -webkit-animation: button-border-animation-before 0.5s linear forwards;
}

@keyframes button-border-animation-before {
    0% {
        width: 0%;
        height: 0%;
        border-top-color: var(--animation-border-color);
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    50% {
        width: var(--animation-width);
        height: 0%;
        border-top-color: var(--animation-border-color);
        border-right-color: var(--animation-border-color);
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    100% {
        width: var(--animation-width);
        height: var(--animation-height);
        border-top-color: var(--animation-border-color);
        border-right-color: var(--animation-border-color);
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
}
@-moz-keyframes button-border-animation-before {
    0% {
        width: 0%;
        height: 0%;
        border-top-color: var(--animation-border-color);
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    50% {
        width: var(--animation-width);
        height: 0%;
        border-top-color: var(--animation-border-color);
        border-right-color: var(--animation-border-color);
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    100% {
        width: var(--animation-width);
        height: var(--animation-height);
        border-top-color: var(--animation-border-color);
        border-right-color: var(--animation-border-color);
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
}
@-webkit-keyframes button-border-animation-before {
    0% {
        width: 0%;
        height: 0%;
        border-top-color: var(--animation-border-color);
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    50% {
        width: var(--animation-width);
        height: 0%;
        border-top-color: var(--animation-border-color);
        border-right-color: var(--animation-border-color);
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    100% {
        width: var(--animation-width);
        height: var(--animation-height);
        border-top-color: var(--animation-border-color);
        border-right-color: var(--animation-border-color);
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
}

.button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background: linear-gradient(#febd69,#aa7d41);
    text-align: center;
}

.card.item:hover .button::after {
    animation: button-border-animation-after 0.5s linear forwards;
    -webkit-animation: button-border-animation-after 0.5s linear forwards;
    -moz-animation: button-border-animation-after 0.5s linear forwards;
}

@keyframes button-border-animation-after {
    0% {
        width: 0%;
        height: 0%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: var(--animation-border-color);
    }

    50% {
        width: 0%;
        height: var(--animation-height);
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: var(--animation-border-color);
        border-bottom-color: var(--animation-border-color);
    }
    100% {
        width: var(--animation-width);
        height: var(--animation-height);
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: var(--animation-border-color);
        border-bottom-color: var(--animation-border-color);
    }
}

@-moz-keyframes button-border-animation-after {
    0% {
        width: 0%;
        height: 0%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: var(--animation-border-color);
    }

    50% {
        width: 0%;
        height: var(--animation-height);
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: var(--animation-border-color);
        border-bottom-color: var(--animation-border-color);
    }
    100% {
        width: var(--animation-width);
        height: var(--animation-height);
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: var(--animation-border-color);
        border-bottom-color: var(--animation-border-color);
    }
}
@-webkit-keyframes button-border-animation-after {
    0% {
        width: 0%;
        height: 0%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: var(--animation-border-color);
    }

    50% {
        width: 0%;
        height: var(--animation-height);
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: var(--animation-border-color);
        border-bottom-color: var(--animation-border-color);
    }
    100% {
        width: var(--animation-width);
        height: var(--animation-height);
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: var(--animation-border-color);
        border-bottom-color: var(--animation-border-color);
    }
}

.card.item:hover .button span {
    z-index: 1;
    background-color: transparent;
    color: black;
}