:root {
	--animation-width: 80%;
	--animation-height: 10%;
	--animation-border-color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* background-color:#D8D8D8 ; */
	background-color: #131a22;
	font-family: "Exo", sans-serif;
}

.fcontainer {
	display: flex;
	margin-top: 0;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.item {
	margin: 5%;
}

.avenir {
	color: white;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -100px;
	background-color: transparent;
	font-family: avenir;
}

/* Parallax CSS */
.wrapper {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
}

.section {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}
.banner-section {
	position: relative;
	height: 130vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;	
}
.parallax::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateZ(-1px) scale(1.5);
	background-size: 100%;
	z-index: -1;
}
.static {
	background: black;
	color: white;
}
.banner::after {
	width: 100%;
	height: 100%;
	background-image: url(../../assets/home.gif);
}

.bg-2::after {
	background-image: url("https://placekitten.com/g/800/600");
}
